/* TARGET */

section.target {
  background-color: var(--opaco);
  margin-bottom: 20px;
}
.swiper-container {
  width: 100%;
}
.swiper-lazy-preloader {
  margin-top: -175px !important;
}

.target-title {
  padding: 10px 0;
  background-color: var(--claro);
  text-align: center;
  width: 100vw;

}
.image-container {
  height: 75vw;
}
.standard-image {
  width: 100%;
  margin-bottom: -5px;
}

/* BUTTONS */

section.score-buttons {
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.button-score-bar {
  margin-bottom: 10px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.score-title{
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.score-button {
  min-width: 56px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: var(--claro);
  border: 3px solid var(--claro);
  margin: 0px 5px 5px 5px;
}
.delete-button {
  margin: 0px 5px 5px 5px;

  min-width: 56px;
  padding: 0 10px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--peligro);
  border: 3px solid var(--peligro);
  box-shadow: 5px 4px 0 var(--oscuro);
}

/* TOTAL TABLE */
.score-table {
  border-spacing: 0px;
  width: 100%;
  padding: 0 10px;
}

.score-table td {
  padding: 5px;
  border-bottom: 1px solid var(--opaco);
}

.score-table tr td:last-child {
  text-align: right;
}
.score-table tbody tr:last-child td {
  border-bottom: none;
}

@media only screen and (min-width: 480px) {
  .target-title {
    width: 480px;
  }
  .image-container {
    height: 360px;
  }
 
}